html {
  font-family: monospace;
}

#map {
  width: 100%;
  height: 65vh;
}

.marker-icon {
  background-position: center;
  background-size: 22px 22px;
  border-radius: 50%;
  height: 22px;
  left: 4px;
  position: absolute;
  text-align: center;
  top: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 22px;
}

.marker {
  height: 30px;
  width: 30px;
}

.marker-content {
  background: #c30b82;
  border-radius: 50% 50% 50% 0;
  height: 30px;
  left: 50%;
  margin: -15px 0 0 -15px;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 30px;
}

.marker-content::before {
  background: #ffffff;
  border-radius: 50%;
  content: "";
  height: 24px;
  margin: 3px 0 0 3px;
  position: absolute;
  width: 24px;
}

.popup-title {
  font-size: 1rem;
  display: block;
  font-weight: bold;
}

.popup-link {
  display: block;
  font-size: 1rem;
}

.popup-link i {
  margin: 0.2em;
  font-size: 1em;
  vertical-align: middle;
}

#settings {
  height: 30vh;
  font-family: 'Fjalla One', sans-serif;
  border-top: 1px solid #909090;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  background-color: #202020;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#settings #button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 600px) {
  #settings #button-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#settings button {
  margin-right: 0.5em;
  white-space: normal;
  font-size: 1.2rem;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  #settings button {
    margin: 0.5em;
    width: 100%;
  }
}

#settings select {
  display: block;
}

@media (max-width: 600px) {
  #settings select {
    margin: 0.5em;
    width: 100%;
    height: 2em;
    background-color: white;
  }
}

#map-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fetchSpinner {
  position: absolute;
  height: 100px;
  width: 100px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top-color: #fff;
  border-radius: 50%;
  z-index: 100;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

#map {
  margin: 0;
}

#banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vh;
  padding: 0.5em;
  font-family: 'Fjalla One', sans-serif;
  background-color: #202020;
  border-bottom: 1px solid #909090;
}

#banner h1 {
  display: block;
  font-size: 3vh;
  color: #ffc107;
  margin: 0;
}

#banner #logo {
  height: 4vh;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Fjalla One';
  src: url("./fonts/Fjalla_One/FjallaOne-Regular.ttf");
}
/*# sourceMappingURL=App.css.map */